@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;800&display=swap');

:root {
    --primary: #702dbd;
    --secondary: #000;
    --green: #44d62c;
    --yellow: #ffdd00;
    --orange: #ff6720;
    --blue: #62b5e5;
    --dark-grey: #98999b;
    --light-grey: #f5f5f5;
    --white: #fff;
    --black: #000;
    --black-2: #222;
    --black-3: #333;
    --white: #fff;
    --light-grey: #f5f5f5;
    --black: #000;
    --box-shadow: 20px 0 60px rgb(14 27 56 / 15%);
    --transition: all .25s ease-in-out;
}

html {
    scroll-behavior: smooth;
}

* {
    box-sizing: border-box;
    font-family: Poppins;
    font-weight: 400;
    margin: 0;
    padding: 0;
    line-height: 1.6;
}


/* FONTS */

.section h1 {
    font-weight: 700;
    font-size: 48px;
}

.section h2 {
    font-weight: 700;
    font-size: 28px;
}

.section h3 {
    font-weight: 700;
}

.section p {

}

.section a {
    text-decoration: none;
}

.section a:hover {
    text-decoration: underline;
}

.section img {
    width: 100%;
    height: auto;
}

/* BUILDING BLOCKS */

.section {
    display: flex;
    margin: 40px auto;
}

.section.grey {
    background-color: var(--light-grey);
}

.section.black {
    background-color: var(--black);
}

.section .row {
    display: flex;
    flex-flow: row wrap;
    gap: 60px;
    align-items: center;
    justify-content: center;

    width: 100%;
    max-width: 1400px;
    padding: 0 30px;
    margin: 40px auto;
}

.section .row.flex-col {
    flex-flow: column;
    padding: 0 30px;
}

.section .row.flex-col h2 {
    text-align: center;
}

.section .row.row-reverse {
    flex-flow: row-reverse wrap;
}

.section .row .col {
    flex: 1 0 450px;

    display: flex;
    flex-direction: column;
}

.section .primary-btn {
    font-weight: 700;
    text-decoration: none;
    width: fit-content;
    background-color: var(--black);
    color: var(--white);
    border-radius: 9px;
    padding: 10px 15px;
    margin-left: 0;
    transition: var(--transition);
}

.section .primary-btn:hover {
    transition: var(--transition);
    transform: scale(1.05);
    cursor: pointer;
    text-decoration: none;
}

.section .primary-btn.white-btn {
    background-color: var(--white);
    color: var(--black);
}

.section .primary-btn.white-btn:hover {
    
}

.section .btn-wrapper {
    display: flex;
    flex-flow: row wrap;
    gap: 20px;
}

#schedule {
    flex-direction: column;
}

#schedule .row {
    padding: 0;
    max-width: none;
    margin: 20px auto;
}

#schedule .row:nth-child(even) {
    background-color: var(--light-grey);
}

#schedule .inner-row {
    width: 100%;
    max-width: 1400px;
    padding: 0 30px;
}

#schedule .wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 60px;
    width: 100%;
    padding: 60px 0;
}


#schedule .wrapper .item {
    flex: 1;

    display: flex;
    flex-direction: column;
}

#schedule .wrapper .item:nth-child(2) {
    flex: 2;
}

#schedule .wrapper .item h5 {
    font-weight: 700;
    font-size: 30px;
}

#schedule .wrapper .item p {
    font-weight: 700;
}

#schedule .wrapper .item ul {
    margin-top: 10px;
    margin-left: 30px;
}



#steps .row .col h2 {
    font-size: 48px;
}

#steps .row .col:nth-child(1) p {
    font-size: 22px;
}

#steps .row .col:nth-child(1) {
    flex: 1 0;
}

#steps .row .col:nth-child(2) {
    flex: 2 0;
    flex-flow: row wrap;
    gap: 40px;
}

#steps .row .col .item {
    display: flex;
    flex-direction: column;
    flex: 1 0 calc(50% - 40px);
}

#steps .row .col .item .primary-btn {
    margin-top: 10px;
}

@media (max-width: 860px) {
    #steps .row {
        flex-direction: column;
    }
}