.data {
    display: flex;
    flex-direction: column;
    padding: 30px;
}

.data tr {
    display: flex;
    flex-direction: row;
    /* gap: 30px; */
    /* padding: 10px; */
    border: 1px solid #00000080;
}

.data tr:not(.center) td:nth-of-type(1) {
    border-right: 1px solid #000000;
}

.data tr td {
    width: 100%;
    padding: 10px;
}

.data .center {
    justify-content: center;
    text-align: center;
}

.row {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
}