#header,
#footer {
    background-color: var(--black);
}

.section .row {
    width: 960px;
}

#hero h1 {
    font-size: 32px;
}

#hero p {
    text-align: center;
    margin-bottom: -20px;
}

#team {
    background-color: var(--light-grey);
}

.section.hidden {
    display: none;
}




/* VIDEOS */
.video_embed {
    width: 100%;
    height: auto;
}


.video-gallery {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    gap: 10px;
}

.video-gallery .video_embed {
    width: calc((100% - 20px) / 2);
}