.section.header .row {
    justify-content: flex-start;
    gap: 40px;
    margin: 20px auto;
    max-width: 1600px;
}

.header nav {
    display: flex;
    gap: 40px;
}

.header nav a {
    color: var(--black);
    transition: var(--transition);
}

.header nav a:hover {
    color: var(--primary);
    transition: var(--transition);
}

.header .logo {
    width: 100%;
    max-width: 150px;
}

.header .primary-btn {
    margin-left: auto;
}

.banner {
    position: relative;

    background-image: url('../delaware/img/banner.jpg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    background: url('../delaware/img/overlay.png') center left no-repeat;
    opacity: 1;
}

.section.banner .primary-btn {
    background-color: transparent;
    padding: 5px 15px;
    border: 1px solid var(--white);
    border-radius: 30px;
    margin-bottom: 20px;
}

.banner h1,
.banner p,
.banner .label,
.banner a {
    color: var(--white);
    z-index: 99;
}

.banner h1,
.banner p {
    max-width: 60%;
}

.banner h1 {
    font-size: 60px;
}

.section.banner .row {
    align-items: flex-start;
    max-width: 1600px;
}

.section .row {
    max-width: 960px;
}

.section .wrapper {
    align-items: center;
}

.section .wrapper .item .purple {
    font-size: 22px;
}

.section .purple {
    color: var(--primary);
}

.section .bold {
    font-weight: 600;
    font-size: 24px;
}

.section .uppercase {
    text-transform: uppercase;
    font-size: 20px;
}

.section.purple {
    color: var(--white);
}

.section img {
    width: 100%;
}

.section.contact .row {
    max-width: 1600px;
}

.contact-form.white .hs-button {
    background-color: var(--white)!important;
    color: var(--black)!important;
}

.legal-consent-container .hs-form-booleancheckbox-display>span p {
    color: var(--white)!important;
}

.section h1,
.section h2,
.section h3,
.section h4,
.section h5 {
    font-weight: 600;
}

.banner .label {
    padding: 5px 15px;
    border: 1px solid var(--white);
    border-radius: 30px;
}

.banner .wrapper.labels {
    gap: 20px;
}

h2.purple {
    font-size: 46px;
}

.section .container {
    background-color:#fafafa;
    padding: 40px;
}

.section.related-content .row {
    max-width: 1600px;
}

.wrapper {
    display: flex;
    flex-flow: row wrap;
    gap: 40px;
}

.wrapper .item {
    flex: 1 0 350px;

    display: flex;
    flex-direction: column;
}

.related-content .wrapper {
    display: flex;
    flex-flow: row wrap;
    gap: 40px;
}

.related-content .wrapper .item {
    flex: 1 0 300px;

    display: flex;
    flex-direction: column;
    gap: 20px;

    border-radius: 30px;
    box-shadow: 0px 3px 6px #00000029;
}

.item .logo,
.item h5,
.item p {
    padding-right: 30px;
    padding-left: 30px;
}

.item .featured {
    width: 100%;
    border-top-right-radius: 30px;
    border-top-left-radius: 30px;
}

.item .logo {
    max-width: 200px;
}

.item h5 {
    font-size: 20px;
    font-weight: 600;
}

.item .primary-btn {
    color: var(--black);
    background-color: transparent;
    border: 1px solid var(--black);
    transition: var(--transition);
    margin-left: 30px;
    margin-bottom: 30px;
}

.item .primary-btn:hover {
    background-color: var(--black);
    color: var(--white);
    transition: var(--transition);
}

@media (max-width: 860px) {
    .header.section nav,
    .header.section .primary-btn {
        display: none;
    }

    .header.section .row {
        justify-content: center;
    }

    .banner h1, 
    .banner p {
        max-width: none;
    }

    .banner h1 {
        font-size: 50px;
    }
}

@media (max-width: 540px) {
    .section.banner h1,
    .section.banner p {
        text-align: left;
    }

    .section.banner a {
        margin-left: 0;
    }

    img:not(#header-logo) {
        margin: 0 auto;
    }

    .section.related-content .wrapper .item .logo {
        max-width: 200px!important;
        margin-left: 0!important;
    }

    .section.related-content .wrapper .item p {
        text-align: left;
    }
}
