.video_embed {
    width: 100%;
    max-width: 900px;
    height: auto;
}

.cases-wrapper {
    display: flex;
    flex-flow: row wrap;
    gap: 20px;
    max-width: 1200px;
}

.cases-wrapper .item {
    flex: 1 0 300px;

    display: flex;
    flex-direction: column;

    background-color: var(--white);
    border-radius: 12px;
    border-bottom: var(--border-bottom);
}

.cases-wrapper .item .content {
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.cases-wrapper .item .content a {
    margin-top: auto;
}

.cases-wrapper .item img {
    width: 100%;
    height: auto;
}